//colors
$primary-color: #0c1b33;
$accent-color: #f05454;

//text colors
$text-color: #dedede;
$header-color: #fff;
$light-text-color: #a4b9cb;

//fonts
$font-medium: "Poppins Medium";

//other
$line-height: 1.6;
