<div class="featured-posts-container align-content-left">
{% for post in featuredlist %}
    <div class="featured-posts-content">
        <h3 class="featured-posts-title">
            <a rel="bookmark" href="{{ post.url | url }}">{{ post.data.title }} </a>
        </h3>
        <div class="posts-meta-data">
        <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
           {# <span class="post-tags">code</span>
        <span class="post-tags">code</span> #}
        </div>
        <p>{{post.data.description}}</p>
    </div>
{% endfor %}

</div>