<div class="featured-projects">
    <div class="featured-project-card">
        <h3>Book App</h3>
        <p>MEAN app where the user can add a book to their library DB</p>
        <a href="#0">Visit</a>
        <a href="#0">Github</a>
    </div>
     <div class="featured-project-card">
        <h3>Book App</h3>
        <p>MEAN app where the user can add a book to their library DB</p>
        <a href="#0">Visit</a>
        <a href="#0">Github</a>
    </div>
</div>