<div class="featured-posts-container align-content-left">
{% for post in featuredlist %}
    <div class="featured-posts-content">
        <h3 class="featured-posts-title">
            <a href="#0">{{ post.data.title }} </a>
        </h3>
        <div class="posts-meta-data">
        <span class="post-date">4.December.2021</span>
           <span class="post-tags">code</span>
        <span class="post-tags">code</span>
        </div>
        <p>{{post.templateContent | striptags }}</p>
    </div>
{% endfor %}

</div>