<footer>
    <div class="footer-body container">
        <span>&copy; Copyright {{author.name}} {{site.currentyear}}</span>
        <span>Designed in {{site.tools.design}} and Built using
        <a target="_blank" href="https://www.11ty.dev/" title="Go to 11ty website">{{site.tools.developement}} </a>
        and deployed at {{site.tools.deployed}} </span>
    </div>
</footer>