<footer>
    <div class="footer-body container">
        <span>Copyright Sam Cherian 2021</span>
        <span>Designed in Figma and Buiilt using <a target="_blank" href="https://www.11ty.dev/" title="Go to 11ty website">11ty</a></span>
    </div>
</footer>