<header class="container">
    <h2 class="logo"><img src="assets/img/symbol-logo.svg"></h2>
    {# navigation #}

        <ul class="header-nav">
            <li><a href="#0">Home</a></li>
            <li><a href="#0">Projects</a></li>
            <li><a href="#0">Blog</a></li>
            <li>
            <div>
                <a href="#0" class="resume-link" title="Download Resume as PDF">Resume</a>
            </div>
            </li>
        </ul>
        
</header>

