<header class="container">

    <h2 class="logo">
    <a href="/">
        <img src="/assets/img/symbol-logo.svg">
    </a>
    </h2>

    {# navigation #}

        {# <ul class="header-nav">
            <li><a href="#0">Home</a></li>
            <li><a href="#0">Projects</a></li>
            <li><a href="#0">Blog</a></li>
            <li>
            <div>
                <a href="#0" class="resume-link" title="Download Resume as PDF">Resume</a>
            </div>
            </li>
        </ul> #}


         <ul class="header-nav">
      {%- for entry in collections.all | eleventyNavigation %}
        <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}">
        <a href="{{ entry.url | url }}">{{ entry.title }}</a></li>
      {%- endfor %}
      <li>
                <a target="_blank" href="/assets/pdf/SamKCherianResume-FrontendDeveloper.pdf" class="resume-link" title="Download Resume as PDF">Resume</a>
</li>
      </ul>






</header>

