@font-face {
  font-family: "Poppins Regular";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("/assets/fonts/Poppins-Regular.woff") format("woff");
}

@font-face {
  font-family: "Poppins Medium";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url("/assets/fonts/Poppins-Medium.woff") format("woff");
}
