html {
  box-sizing: border-box;
  font-size: 0.75em;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Poppins Regular", sans-serif;
  color: $text-color;
  background-color: $primary-color;
  line-height: $line-height;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $header-color;
}

p {
  color: $text-color;
}

// h2 {
//   font-size: 2.25rem;
// }

a {
  color: $text-color;
  transition: color 0.2s linear;
}

a:hover {
  color: $accent-color;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

@media screen and (min-width: 800px) {
  html {
    font-size: 0.875em;
  }
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 1em;
  }
}
