---
layout: base.njk
title: Sam Cherian 
permalink: /
---


{# sidebar #}

<div class="container">
    <div class="page-container">

        <div class="page block-space-bottom">
            <div class="home-intro-head">
            <h1 class="home-intro-head--title">Hello, I'm Sam Cherian</h1>
            <p class="home-intro-head--tag ">Frontend Developer</p>
            </div>
            <p>I am a self-taught Frontend Developer who loves developing user-friendly, responsive and higly performing websites & web apps. I believe in constant learning and experimenting with new technologies and ideas.</p>
        </div>


    <div class="featured feat-posts block-space-bottom">

    <div class="featured-headers">
         <h2 class="featured-headers-title"><span>Skills & Tools</span></h2>
        <p class="featured-headers-title--sub">Technologies I am familiar with</p>
    </div>

    <div class="skills-container">


     <div class="skills">
    <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>SASS</li>
        <li>JavaScript (ES6+)</li>
        <li>Angular</li>
    </ul>
    </div>
    <div class="skills">
    <ul>
    <li>TypeScript</li>
         <li>11ty</li>
        <li>Git</li>
        <li>VS Code</li>
        <li>Bash</li>
    </ul>
  </div>
    </div>
   
    </div>
    

        {# <div class="featured feat-projects block-space-bottom">
            <h2 class="featured-title"><span>Projects</span></h2>
            {% include "featuredProjects.njk" %}
        </div> #}



         <div class="featured feat-posts">
         <div class="featured-headers">
          <h2 class="featured-headers-title"><span>Blog</span></h2>
          <p class="featured-headers-title--sub">Recent posts from my blog</p>
         </div>
            {% include "featured-posts.njk" %}
        </div>



    </div>



</div>

