header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  padding: 2em 0 0 0;
  color: $text-color;
  .logo img {
    vertical-align: middle;
  }
}

ul.header-nav {
  display: flex;
  align-items: center;
}

ul.header-nav li {
  list-style: none;
  > a {
    text-decoration: none;
    font-family: "Poppins Medium";
    font-size: 1.2rem;
    color: inherit;
    display: block;
    padding: 0 1.2em;
    position: relative;
  }
  > a.resume-link {
    border: 1px solid $accent-color;
    color: inherit;
    padding: 0.2em 0.8em;
    text-decoration: none;
    font-size: 1.2rem;
    margin-left: 0.5em;
    border-radius: 4px;
  }

  a:after,
  a:before {
    content: "";
    border-radius: 2px;
    height: 4px;
    position: absolute;
    left: 1em;
    right: 1em;
    background-color: $accent-color;
    opacity: 0;
    transform: scale(0);
    transition: all 0.5s cubic-bezier(0.62, 0.11, 0.26, 1.12);
  }
  a:before {
    bottom: -0.5em;
    transform-origin: top left;
  }

  a:after {
    top: -0.5em;
    transform-origin: top right;
  }
  a:hover:before,
  a:hover:after {
    opacity: 1;
    transform: scale(1);
  }
  a.resume-link:hover:before,
  a.resume-link:hover:after {
    opacity: 0;
    transform: scale(0);
  }
}
