---
layout: base.njk
---
<div class="container">
    <div class="page-container">
    <article class="blog-detail-article" role="article">

    <div class="blog-detail-article--header">
        <h1>{{title}}</h1>
        <time class="post-date" datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
    </div>


    <div class="post-content">
        {{content | safe}}
    </div>

</article>
    </div>
</div>
